In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import mysql.connector
import pymysql
pymysql.install_as_MySQLdb()
# 设置数据库连接信息
db_username = 'ydd'
db_password = '979324753'
db_host = 'localhost'
db_port = '3306'
db_name = 'qx8800spsy'

# 创建数据库连接字符串
db_connection_str = f'mysql+mysqldb://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}'
db_connection = create_engine(db_connection_str)

mysql_connection = mysql.connector.connect(
    host=db_host,
    user=db_username,
    password=db_password,
    database=db_name
)

cursor = mysql_connection.cursor()
# 获取数据库中的所有表
def get_all_tables(connection):
    tables = []
    try:
        cursor = connection.cursor()
        cursor.execute("SHOW TABLES")
        tables = [table[0] for table in cursor.fetchall()]
        cursor.close()
    except mysql.connector.Error as err:
        print("Error:", err)
    return tables

# 获取并打印所有表
all_tables = get_all_tables(mysql_connection)
for table in all_tables:
    print(table)

#df.to_sql('0607leftuplook', db_connection, if_exists='append', index=False)

conditions
datarecords
experiments
leftdownlook3p
leftuplook3p
temp_leftuplook3p

In [2]:
# 从数据库中读取名为leftuplook3p的表
df_all = pd.read_sql('SELECT * FROM datarecords WHERE ExperimentID = 1 and ConditionID = 3', db_connection)

df_all

,RecordID,ExperimentID,ConditionID,Process,RecordTime,匹配点1X,匹配点1Y,匹配点2X,匹配点2Y,匹配点3X,匹配点3Y
0,1501,1,3,0,2024-07-07 22:38:05,2587.004172,1656.487183,2703.998713,1932.800270,2820.835754,2209.135671
1,1502,1,3,0,2024-07-07 22:38:05,2586.922733,1656.348224,2703.925035,1932.665703,2820.752031,2209.013626
2,1503,1,3,0,2024-07-07 22:38:06,2587.278014,1656.339751,2704.270179,1932.699862,2821.125220,2209.038286
3,1504,1,3,0,2024-07-07 22:38:06,2587.109693,1656.557858,2704.082228,1932.876346,2820.917170,2209.221350
4,1505,1,3,0,2024-07-07 22:38:07,2587.087310,1656.609700,2704.084585,1932.920266,2820.906725,2209.247753
...,...,...,...,...,...,...,...,...,...,...,...
495,1996,1,3,0,2024-07-07 22:42:17,2587.014098,1656.760055,2704.009535,1933.117421,2820.836967,2209.476636
496,1997,1,3,0,2024-07-07 22:42:17,2587.011010,1656.680049,2704.004564,1933.029545,2820.839882,2209.369391
497,1998,1,3,0,2024-07-07 22:42:18,2586.909751,1656.715847,2703.876921,1933.064822,2820.705984,2209.419972
498,1999,1,3,0,2024-07-07 22:42:18,2586.796675,1656.865675,2703.777720,1933.195512,2820.601361,2209.545288
499,2000,1,3,0,2024-07-07 22:42:19,2586.848628,1656.634361,2703.824756,1932.989906,2820.667091,2209.377700

In [4]:
df = df_R_0607.copy()

In [5]:
df['Xdist'] = ((df['X1'] - df['X2'])**2 + (df['Y1'] - df['Y2'])**2)**0.5
df['Ydist'] = ((df['X1'] - df['X3'])**2 + (df['Y1'] - df['X3'])**2)**0.5
df['Single'] = ((df['X1'])**2 + (df['Y1'])**2)**0.5
df['Single-mean'] = ((df['X1']-df['X1'].mean())**2 + (df['Y1']-df['Y1'].mean())**2)**0.5
df['Single2'] = ((df['X2'])**2 + (df['Y2'])**2)**0.5
df['Single2-mean'] = ((df['X2']-df['X2'].mean())**2 + (df['Y2']-df['Y2'].mean())**2)**0.5
df['Single3'] = ((df['X3'])**2 + (df['X3'])**2)**0.5
df['Single3-mean'] = ((df['X3']-df['X3'].mean())**2 + (df['X3']-df['X3'].mean())**2)**0.5

In [6]:
des_df = df.describe()
des_df.loc["range"] = des_df.loc['max']-des_df.loc['min']
des_df.loc["3sigma"] = des_df.loc['std']*3
des_df

,X1,Y1,X2,Y2,X3,Y3,Xdist,Ydist,Single,Single-mean,Single2,Single2-mean,Single3,Single3-mean
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,2900.347811,2263.320533,3297.961541,2215.091463,2852.007826,1866.571685,400.528059,590.668676,3678.945142,0.291655,3972.805131,0.292493,4033.348147,0.241193
std,0.210245,0.270582,0.210649,0.264000,0.210115,0.267519,0.025897,0.443688,0.124162,0.178682,0.122001,0.167591,0.297147,0.172715
min,2899.728505,2262.677408,3297.337018,2214.494787,2851.408101,1865.964560,400.399580,589.302390,3678.671438,0.023773,3972.535236,0.000600,4032.500008,0.005381
25%,2900.192666,2263.127928,3297.814760,2214.896068,2851.858990,1866.369844,400.510944,590.392376,3678.861796,0.176442,3972.718525,0.166405,4033.137661,0.110929
50%,2900.362589,2263.270970,3297.974645,2215.091080,2852.016699,1866.581951,400.526444,590.720778,3678.943139,0.242844,3972.799809,0.263529,4033.360695,0.200835
75%,2900.496135,2263.467013,3298.109355,2215.269699,2852.145139,1866.745435,400.543940,590.982978,3679.034668,0.373481,3972.888389,0.396375,4033.542338,0.343999
max,2900.988831,2264.106977,3298.596408,2215.782543,2852.622891,1867.264782,400.624423,591.809305,3679.269171,0.987805,3973.135470,0.923225,4034.217981,0.869834
range,1.260326,1.429569,1.259390,1.287756,1.214790,1.300222,0.224842,2.506915,0.597733,0.964032,0.600233,0.922625,1.717973,0.864452
3sigma,0.630734,0.811745,0.631947,0.792001,0.630345,0.802556,0.077692,1.331063,0.372486,0.536047,0.366004,0.502774,0.891442,0.518144